/* Mean Red Spiders - Screen CSS 
--------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e9e9;
  font: 75% Arial, Helvetica, sans-serif;
  line-height: 150%;
  text-align: justify;
  color: #555;
}

#completeWrap, #headWrapper, #contentWrapper, #footWrapper {
  width: 782px;
  margin: 0 auto;
}
  
#contentWrapper {
  clear: both;
  background: url(../imgs/shared/pageBg.png) repeat-y;
  width: 780px;
  border: 1px solid #333;
  border-top: none;
}

/* Header, Slogan & Quote
--------------------------------------------------------------------*/

#headWrapper {
  background: #000 url(../imgs/shared/headBg.jpg) no-repeat;
  height: 200px;
  margin: 12px 0 0 0;
}

#headText {
  float: right;
  width: 400px;
  text-align: right;
  padding: 148px 8px 0 0;
}

.slogan strong {
  font: 120% "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #e0e0e0;
}

/* Breadcrumbs
--------------------------------------------------------------------*/

#breadCrumbs {
  background: #901220 url(../imgs/shared/crumbsTopRightCorner.png) top right no-repeat;
  width: 614px;
  float: left;
  padding: 8px;
  color: #f3f3f3;
}


/* Left Hand News Panel
--------------------------------------------------------------------*/

#newsPanel {
  background: transparent;
  float: left;
  font-size: 90%;
  line-height: 16px;
  width: 184px;
  padding: 0 8px 8px 8px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  color: #772c00;
}

dl.bandMembers {
  margin: 0 0 12px 0;
}

dl.bandMembers dt {
  float:left;
  padding-right: 0.3em;
}

dl.bandMembers dt:after {
  content: " -";
}

/* Main Content
--------------------------------------------------------------------*/

.clearBreadcrumbs {
  clear: left;
  padding: 8px 0 0 0;
}

#mainContent {
  background: transparent;
  margin-left: 212px;
  width: 406px;
}

#mainContent ul { 
  list-style-image: url(../imgs/shared/iconList.jpg);
  margin: 12px 0 12px 36px;
}

/* Right Hand Navigation Panel
--------------------------------------------------------------------*/

#navPanel {
  float: right;
  width: 150px;
}

#navPanel ul {
  list-style: none;
}

#navPanel li a { /* 56758c */
  display: block;
  text-decoration: none;
  padding: 6px 0 6px 4px;
  border-bottom: #56758c 1px dotted;
  color: #901220;
}

#navPanel li a:hover {
  color: #e5d372;
}

#navLinks {
  background-color: #000;
  padding: 8px 8px 0 8px;
  color: #999;
}

#navCont {
  background: url(../imgs/shared/navFadeBg.png) no-repeat;
  padding: 12px 8px 0 8px;
  color: #aaa;
}

/* Footer
--------------------------------------------------------------------*/

div.clearer {
  clear: both;
  line-height: 0;
  height: 0;
}

#footWrapper {
  clear: both;
}

/* Shared Layout Classes
--------------------------------------------------------------------*/

.halfL, .halfR {
  width: 390px;
  padding: 8px 0 0 0;
}

.halfL {
  float: left;
}

.halfR {
  float: right;
}

.right {
  text-align: right;
}

/* Shared Text & Image Classes
--------------------------------------------------------------------*/

.imgL, .imgR, .imgC {
  padding: 4px;
  border: 1px solid #666;
}

.imgL {
  float: left;
  margin: 4px 10px 4px 0;
}

.imgR {
  float: right;
  margin: 4px 0 4px 10px;
}

/* Links
--------------------------------------------------------------------*/

#breadCrumbs a, #breadCrumbs a:visited, #breadCrumbs a:active,
#newsPanel a, #newsPanel a:visited, #newsPanel a:active,
#mainContent a, #mainContent a:visited, #mainContent a:active,
#footWrapper .halfR a, #footWrapper .halfR a:visited, #footWrapper .halfR a:active {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 1px;
}

/* BREADCRUMBS */
#breadCrumbs a, #breadCrumbs a:visited, #breadCrumbs a:active { color: #fff; }
#breadCrumbs a:hover { color: #e9e9e9; }

/* NEWS */
#newsPanel a, #newsPanel a:visited, #newsPanel a:active { color: #e9e9e9; }
#newsPanel a:hover { color: #56758c; }

/* MAIN CONTENT */
#mainContent a, #mainContent a:visited, #mainContent a:active { color: #56758c; }
#mainContent a:hover { color: #444; }

/* FOOTER */
#footWrapper .halfR a, #footWrapper .halfR a:visited, #footWrapper .halfR a:active { color: #56758c; }
#footWrapper .halfR a:hover { color: #444; }

a img {
  filter: alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
 }

a:hover img { 
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1.00;
  opacity: 1;
}

/* Typography & Other X|HTML Elements
--------------------------------------------------------------------*/

h1, h2, h3, .slogan {
  letter-spacing: 1px;
  font-weight: normal;
}

h1 {
  font-size: 117%;
}

#mainContent h2 {
  font-size: 160%;
  margin: 0 0 12px 0;
  color: #666;
}

#navPanel h2 {
  color: #ccc;
}

h2 {
  font-size: 117%;
  margin: 0 0 4px 0;
}

h3 {
  font-size: 110%;
  margin: 0 0 4px 0;
  color: #999;
}

p {
  margin: 0 0 12px 0;
}

img {
  border: 0;
}

/* --- R O U N D E D   B O R D E R S
....................................................................*/

/* TOP LEFT */
#headWrapper {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}

/* TOP RIGHT */
#headWrapper {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
